{% extends "base.html" %}
{% load static %}

{% block title %}Input{% endblock title %}
{% block scripts %}
<script src="{% static 'main/input.js' %}">
</script>
{% endblock %}

{% block content %}
{% with 'photos/'|add:img as img_static %}
  <img height="500px" src="{% static img_static %}">
{% endwith %}
<form action="{% url 'input-img' img %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
<div style="display: none">
  <p id="tags">{{ tags }}</p>
  <p id="locations">{{ locations }}</p>
  <p id="people">{{ people }}</p>
</div>
<div class="tag" style="border: 1px solid gray; display: none; padding: 5px; margin: 5px">
  <div style="display: inline-block;"><p style="margin: 0; margin-right: 5px">raft-trip</p></div>
  <div class="x" style="display: inline-block; cursor: pointer; width: 15px; height: 15px; background-color: red"></div>
</div>
{% endblock content %}
